.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.FlexboxContainer{
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: center;
  gap: 10px;
}

.PageBtn{
  max-width: 20vw;
  min-width:20vw;
  max-height: 20vh;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopLeft{
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  box-shadow: 5px 5px 5px 5px gray;
}
.BottomLeft{
  border-top: 1px solid gray;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  box-shadow: 5px 5px 5px 5px gray;
}
.TopRight{
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  box-shadow: 5px 5px 5px 5px gray;
}
.BottomRight{
  border-top: 1px solid gray;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  box-shadow: 5px 5px 5px 5px gray;
}