.App {
  margin-top: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.FlexboxContainer{
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: center;
  gap: 10px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.PageBtn{
  max-width: 20vw;
  min-width:20vw;
  max-height: 20vh;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(62, 18, 183);
}

.TopLeft{
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  box-shadow: 5px 5px 5px 5px gray;
}
.BottomLeft{
  border-top: 1px solid gray;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  box-shadow: 5px 5px 5px 5px gray;
}
.TopRight{
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  box-shadow: 5px 5px 5px 5px gray;
}
.BottomRight{
  border-top: 1px solid gray;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  box-shadow: 5px 5px 5px 5px gray;
}
.PageBtn:hover{
  background-color: rgb(183, 179, 179);
  color: blueviolet;
}

.Circular{
  width: 120px;
  height: 120px;
  border: 6px double blue;
  overflow: hidden;
  border-radius: 50%;
  background-size: contain;
}
.ProfilePic{
  position: relative;
}

.Task{
  border: 1px solid gray;
}

.BottomBorder{
  border-bottom: 1px solid gray;
}

.ProgressBarOutline{
  border: 1px black solid;
  border-radius: 10px;
  width: 25vw;
  height: 1vw;
  overflow: hidden;
  display: inline-block;
}
.ProgressBarFilling{
  background-color: greenyellow;
  height: 1vw;
}
.CompletionPercent0{
  width: 0%;
}
.CompletionPercent10{
  width: 10%;
}
.CompletionPercent25{
  width: 25%;
}
.CompletionPercent50{
  width: 50%;
}
.CompletionPercent75{
  width: 75%;
}
.CompletionPercent90{
  width: 90%;
}
.CompletionPercent100{
  width: 100%;
}
.Test1{
  background-color: brown;
}