.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.FlexboxContainer{
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: center;
}

.PageBtn{
  background-color: whitesmoke;
  border-bottom: double 10px black;
  max-width: 20vw;
  min-width:20vw;
  max-height: 20vh;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
